.lh1{
  line-height: 1px !important;
}
.lh2{
  line-height: 2px;
}
.lh3{
  line-height: 3px;
}
.lh4{
  line-height: 4px;
}
.lh5{
  line-height: 5px;
}
.lh6{
  line-height: 6px;
}
.lh7{
  line-height: 7px;
}
.lh8{
  line-height: 8px;
}
.lh9{
  line-height: 9px;
}
.lh10{
  line-height: 10px;
}
.lh11{
  line-height: 11px;
}
.lh12{
  line-height: 12px;
}
.lh13{
  line-height: 13px !important;
}
.lh14{
  line-height: 14px;
}
.lh15{
  line-height: 15px;
}
.lh16{
  line-height: 16px;
}
.lh17{
  line-height: 17px !important;
}
.lh18{
  line-height: 18px !important;
}
.lh19{
  line-height: 19px;
}
.lh20{
  line-height: 20px !important;
}
.lh21{
  line-height: 21px;
}
.lh22{
  line-height: 22px;
}
.lh22i{
  line-height: 22px !important;
}
.lh23{
  line-height: 23px;
}
.lh24{
  line-height: 24px;
}
.lh24i{
  line-height: 24px !important;
}
.lh25{
  line-height: 25px;
}
.lh26{
  line-height: 26px;
}
.lh27{
  line-height: 27px;
}
.lh28{
  line-height: 28px;
}
.lh29{
  line-height: 29px;
}
.lh30{
  line-height: 30px;
}
.lh31{
  line-height: 31px;
}
.lh32{
  line-height: 32px;
}
.lh33{
  line-height: 33px;
}
.lh34{
  line-height: 34px;
}
.lh35{
  line-height: 35px;
}

@media (max-width: 575px) {
.mlh1{
  line-height: 1px !important;
}
.mlh2{
  line-height: 2px !important;
}
.mlh3{
  line-height: 3px !important;
}
.mlh4{
  line-height: 4px !important;
}
.mlh5{
  line-height: 5px !important;
}
.mlh6{
  line-height: 6px !important;
}
.mlh7{
  line-height: 7px !important;
}
.mlh8{
  line-height: 8px !important;
}
.mlh9{
  line-height: 9px !important;
}
.mlh10{
  line-height: 10px !important;
}
.mlh11{
  line-height: 11px !important;
}
.mlh12{
  line-height: 12px !important;
}
.mlh13{
  line-height: 13px !important;
}
.mlh14{
  line-height: 14px !important;
}
.mlh15{
  line-height: 15px !important;
}
.mlh16{
  line-height: 16px !important;
}
.mlh17{
  line-height: 17px !important;
}
.mlh18{
  line-height: 18px !important;
}
.mlh19{
  line-height: 19px !important;
}
.mlh20{
  line-height: 20px !important;
}
.mlh21{
  line-height: 21px !important;
}
.mlh22{
  line-height: 22px !important;
}
.mlh23{
  line-height: 23px !important;
}
.mlh24{
  line-height: 24px !important;
}
.mlh25{
  line-height: 25px !important;
}
.mlh26{
  line-height: 26px !important;
}
.mlh27{
  line-height: 27px !important;
}
.mlh28{
  line-height: 28px !important;
}
.mlh29{
  line-height: 29px !important;
}
.mlh30{
  line-height: 30px !important;
}
.mlh31{
  line-height: 31px !important;
}
.mlh32{
  line-height: 32px !important;
}
.mlh33{
  line-height: 33px !important;
}
.mlh34{
  line-height: 34px !important;
}
.mlh35{
  line-height: 35px !important;
}
}
