@media (max-width: 575px) {

  .btn {
    width: 90% !important;
  }

  .callout {
    
  }

  table {
    width: 100% !important;
  }

  .mobile-no-show{
    display: none !important;
  }

  .mobile-width-220{
    width: 220px !important;
  }

  .mobile-width-250{
    width: 250px !important;
  }

  .brand-border-left{
    border: none !important;
  }

  .icon {
    padding-bottom: 20px;
    text-align: center;
  }

  .icon img {
    height: 100px !important;
    width: 100px !important;
    display: inline !important;
  }

  img {
    max-width: 100% !important;
  }

  #pre-header td {
    text-align: center !important;
  }

  #hero-logo {
    width: initial !important;
  }

  #footer img {
    width: initial !important;
    display: inline-block !important;
  }

  table.border-block {
    width: 150px !important;
  }

  .cta-btn {
    width: initial !important;
  }

  .mobile-border td {
    height: 1px !important;
  }

  .mobile-border-bottom{
    border-bottom: 2px solid #b2b2b2 !important;
  }

  .mobile-h-0 {
    height: 0 !important;
  }
  .mobile-h-auto {
    height: auto !important;
  }

  .mobile-dline-block {
    display: inline-block !important;
  }

  .mobile-p-0 {
    padding: 0 !important;
  }

  .mobile-p-l-0{
    padding-left: 0px !important;
  }

  .mobile-p-l-10{
    padding-left: 10px !important;
  }


  .mobile-p-l-20{
    padding-left: 20px !important;
  }

  .mobile-p-l-25{
    padding-left: 25px !important;
  }

  .mobile-p-l-35{
    padding-left: 35px !important;
  }
  .mobile-p-l-40{
    padding-left: 40px !important;
  }

  .mobile-p-r-0{
    padding-right: 0px !important;
  }
  .mobile-p-r-5{
    padding-right: 5px !important;
  }
  .mobile-p-r-10{
    padding-right: 10px !important;
  }
  .mobile-p-r-15{
    padding-right: 15px !important;
  }
  .mobile-p-r-60percent{
    padding-right: 60% !important;
  }
  .mobile-p-r-50percent{
    padding-right: 50% !important;
  }
  .mobile-p-r-40percent{
    padding-right: 40% !important;
  }

  .mobile-p-b-0{
    padding-bottom: 0px !important;
  }

  .mobile-p-b-25{
    padding-bottom: 25px !important;
  }
  .mobile-p-b-30{
    padding-bottom: 25px !important;
  }

  .mobile-text-center {
    text-align: center !important;
  }

  .mobile-text-left {
    text-align: left !important;
  }

  .mobile-p-t-0 {
    padding-top: 0px !important;
  }

  .mobile-p-t-5 {
    padding-top: 5px !important;
  }

  .mobile-p-t-10 {
    padding-top: 10px !important;
  }

  .mobile-p-t-15 {
    padding-top: 15px !important;
  }

  .mobile-p-t-20 {
    padding-top: 20px !important;
  }
  .mobile-p-t-30 {
    padding-top: 30px !important;
  }
  .mobile-p-t-40 {
    padding-top: 30px !important;
  }


  .mobile-p-b-5 {
    padding-bottom: 5px !important;
  }

  .mobile-p-b-10 {
    padding-bottom: 10px !important;
  }

  .mobile-p-b-15 {
    padding-bottom: 15px !important;
  }

  .mobile-p-b-20 {
    padding-bottom: 20px !important;
  }


  .mobile-p-x-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mobile-p-x-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .mobile-p-x-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .mobile-p-x-25{
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .mobile-p-x-30{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .mobile-p-x-35 {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
  .mobile-p-x-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .mobile-p-x-45 {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
  .mobile-p-x-50{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .mobile-p-x-55 {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
  .mobile-p-x-60{
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  .mobile-p-x-70{
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  .mobile-p-x-80{
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  .mobile-p-x-100{
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .mobile-p-y-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .mobile-p-x-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mobile-p-x-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .mobile-p-y-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .mobile-p-x-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .mobile-p-y-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .mobile-p-y-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .mobile-no-dimensions {
    height: 0 !important;
    width: 0 !important;
  }

  .vertical-rule {
    background: #f6f5f5 !important;
  }

  .chart1 {
    padding-bottom: 20px;
  }

  .arrow-table-wrap {
    padding-left: 20%;
  }

  .arrow-table {
    width: 270px !important;
  }

  .mobile-225w{
    width: 225px !important;
  }

  #email-cta {
    padding-top: 20px;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-break{
    display: block !important;
  }
  .mobile-stack-td{
    display: block;
    clear: both;
  }
  .mobile-full-width {
    width: 100% !important;
  }
  .mobile-half-width{
    width: 50% !important;
  }
  .mobile-third-width{
    width: 33% !important;
  }
  .mobile-twothird-width{
    width: 63% !important;
  }
  .mobile-quarter-width{
    width: 25% !important;
  }
  .mobile-threequarter-width{
    width: 75% !important;
  }
  .mobile-two-fifth-width{
    width: 39% !important;
  }
  .mobile-three-fifth-width{
    width: 59% !important;
  }
  .mobile-40-width {
    width: 40% !important;
  }
  .mobile-60-width {
    width: 60% !important;
  }
  .mobile-wrapper-elastic{
    align: center !important;
    padding: 0px !important;
    border-spacing: 0px !important;
     border-collapse: collapse !important;
    border: 0px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    mso-table-lspace: 0pt !important;
    mso-table-rspace: 0pt !important;
  }

  .mobile-no-border{
    border: none !important;
  }
}
