
.p-0{
  padding: 0px !important;
}
.p-5{
  padding: 5px !important;
}
.p-10{
  padding: 10px !important;
}
.p-15{
  padding: 15px !important;
}
.p-20{
  padding: 20px !important;
}
.p-25{
  padding: 25px !important;
}
.p-30{
  padding: 30px !important;
}
.p-40{
  padding: 40px !important;
}

.p-x-0{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.p-x-5{
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.p-x-10{
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.p-x-15{
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.p-x-20{
  padding-right: 20px !important;
  padding-left:  20px !important;

}
.p-x-25{
  padding-right: 25px !important;
  padding-left: 25px !important;
}
.p-x-30{
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.p-x-33{
  padding-right: 33px !important;
  padding-left: 33px !important;
}
.p-x-35{
  padding-right: 35px !important;
  padding-left: 35px !important;
}
.p-x-39{
  padding-right: 39px !important;
  padding-left: 39px !important;
}

.p-x-40{
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.p-x-50{
  padding-right: 50px !important;
  padding-left: 50px !important;
}
.p-x-60{
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.p-x-70{
  padding-right: 70px !important;
  padding-left: 70px !important;
}
.p-x-80{
  padding-right: 80px !important;
  padding-left: 80px !important;
}
.p-x-90{
  padding-right: 90px !important;
  padding-left: 90px !important;
}

.p-x-100{
  padding-right: 100px !important;
  padding-left: 100px !important;
}
.p-x-110{
  padding-right: 110px !important;
  padding-left: 110px !important;
}
.p-x-120{
  padding-right: 120px !important;
  padding-left: 120px !important;
}
.p-x-130{
  padding-right: 130px !important;
  padding-left: 130px !important;
}
.p-x-140{
  padding-right: 140px !important;
  padding-left: 140px !important;
}
.p-x-150{
  padding-right: 150px !important;
  padding-left: 150px !important;
}
.p-x-160{
  padding-right: 160px !important;
  padding-left: 160px !important;
}
.p-x-170{
  padding-right: 170px !important;
  padding-left: 170px !important;
}
.p-x-180{
  padding-right: 180px !important;
  padding-left: 180px !important;
}

.p-r-0{
  padding-right: 0px !important;
}
.p-r-1{
  padding-right: 1px !important;
}
.p-r-2{
  padding-right: 2px !important;
}
.p-r-3{
  padding-right: 3px !important;
}
.p-r-3{
  padding-right: 3px !important;
}
.p-r-4{
  padding-right: 4px !important;
}
.p-r-5{
  padding-right: 5px !important;
}
.p-r-10{
  padding-right: 10px !important;
}
.p-r-15{
  padding-right: 15px !important;
}
.p-r-20{
  padding-right: 20px !important;
}
.p-r-25{
  padding-right: 25px !important;
}
.p-r-30{
  padding-right: 30px !important;
}
.p-r-35{
  padding-right: 35px !important;
}
.p-r-39{
  padding-right: 39px !important;
}
.p-r-40{
  padding-right: 40px !important;
}
.p-r-50{
  padding-right: 50px !important;
}
.p-r-60{
  padding-right: 60px !important;
}
.p-r-70{
  padding-right: 70px !important;
}
.p-r-85{
  padding-right: 85px !important;
}
.p-r-100{
  padding-right: 100px !important;
}
.p-r-340{
  padding-right: 340px !important
}
.p-r-60percent{
  padding-right: 60% !important;
}
.p-r-70percent{
  padding-right: 70% !important;
}
.p-r-75percent{
  padding-right: 75% !important;
}

.p-l-0{
  padding-left: 0px !important;
}
.p-l-1{
  padding-left: 1px !important;
}
.p-l-2{
  padding-left: 2px !important;
}
.p-l-3{
  padding-left: 3px !important;
}
.p-l-4{
  padding-left: 4px !important;
}
.p-l-5{
  padding-left: 5px !important;
}
.p-l-10{
  padding-left: 10px !important;
}
.p-l-15{
  padding-left: 15px !important;
}
.p-l-20{
  padding-left: 20px !important;
}
.p-l-25{
  padding-left: 25px !important;
}
.p-l-30{
  padding-left: 30px !important;
}
.p-l-40{
  padding-left: 40px !important;
}
.p-l-50{
  padding-left: 50px !important;
}

.p-l-60{
  padding-left: 60px !important;
}

.p-l-70{
  padding-left: 70px !important;
}
.p-l-100{
  padding-left: 100px !important;
}
.p-l-120{
  padding-left: 120px !important;
}



.p-t-0{
  padding-top: 0px !important;
}
.p-t-1{
  padding-top: 1px !important;
}
.p-t-2{
  padding-top: 2px !important;
}
.p-t-3{
  padding-top: 3px !important;
}
.p-t-4{
  padding-top: 4px !important;
}
.p-t-5{
  padding-top: 5px !important;
}
.p-t-8{
  padding-top: 8px !important;
}
.p-t-10{
  padding-top: 10px !important;
}
.p-t-11{
  padding-top: 11px !important;
}
.p-t-12{
  padding-top: 12px !important;
}
.p-t-13{
  padding-top: 13px !important;
}
.p-t-14{
  padding-top: 14px !important;
}
.p-t-15{
  padding-top: 15px !important;
}
.p-t-17{
  padding-top: 17px !important;
}
.p-t-20{
  padding-top: 20px !important;
}
.p-t-25{
  padding-top: 25px !important;
}
.p-t-30{
  padding-top: 30px !important;
}
.p-t-35{
  padding-top: 35px !important;
}
.p-t-40{
  padding-top: 40px !important;
}
.p-t-50{
  padding-top: 50px !important;
}
.p-t-70{
  padding-top: 70px !important;
}
.p-t-80{
  padding-top: 80px !important;
}

.p-b-0{
  padding-bottom: 0px !important;
}
.p-b-1{
  padding-bottom: 1px !important;
}
.p-b-2{
  padding-bottom: 2px !important;
}
.p-b-3{
  padding-bottom: 3px !important;
}
.p-b-4{
  padding-bottom: 4px !important;
}
.p-b-5{
  padding-bottom: 5px !important;
}
.p-b-10{
  padding-bottom: 10px !important;
}
.p-b-15{
  padding-bottom: 15px !important;
}
.p-b-20{
  padding-bottom: 20px !important;
}
.p-b-25{
  padding-bottom: 25px !important;
}
.p-b-30{
  padding-bottom: 30px !important;
}
.p-b-35{
  padding-bottom: 35px !important;
}
.p-b-40{
  padding-bottom: 40px !important;
}
.p-b-50{
  padding-bottom: 50px !important;
}
.p-b-80{
  padding-bottom: 80px !important;
}

.p-y-0{
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.p-y-5{
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}
.p-y-10{
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
.p-y-15{
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}
.p-y-20{
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}
.p-y-25{
  padding-bottom: 25px !important;
  padding-top: 25px !important;
}
.p-y-30{
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}
.p-y-40{
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}
